p.money-raised {
  font-size: 3.0rem;
  color: #14679e;
}
#us-map{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  margin-top: 60rem;
}
path:hover, circle:hover {
  stroke: #1073ce !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #1073ce !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  /* border: 2px solid #BF0A30; */
  border-radius: 3px;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
}
