p.money-raised {
  font-size: 3.0rem;
  color: #14679e; 
}
#us-map {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 35px;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}
path:hover, circle:hover {
  cursor: pointer;
}
